/* 關於我們 */

.about-title {
  width: 100%;
  margin-top: 1.5rem;
  text-align: left;
  background-color: transparent; /* 可選，保持背景一致 */
}

.about-title h1 {
  font-size: 2.5rem;
  color: #003d73;
  margin: 0;
}


.about-timeline {
  position: relative;
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 50px 0;
}

/* 中線 */
.about-timeline::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  width: 4px;
  background-color: #ccc;
  transform: translateX(-50%);
  z-index: 0;
}

/* 左右區塊 */
.timeline-left,
.timeline-right {
  position: relative;
  width: 50%;
  padding: 20px;
  box-sizing: border-box;
}

.timeline-left {
  left: 0;
  text-align: left;
}

.timeline-right {
  left: 50%;
  text-align: left;
}

/* 圓點標記 */
.timeline-left::after,
.timeline-right::after {
  content: '';
  position: absolute;
  top: 30px;

  width: 20px;
  height: 20px;
  background-color: #fff;
  border: 4px solid #ccc;
  border-radius: 50%;
  z-index: 1;
}

.timeline-left::after {
  right: -14px;
}

.timeline-right::after {
  left: -14px;
}

/* 清除浮動 */
.about-timeline::after {
  content: "";
  display: table;
  clear: both;
}

/* 標題與段落樣式 */
.about-timeline h3 {
  margin-top: 0;
  font-size: 1.2em;
  color: #003d73;
}

.about-timeline p {
  font-size: 1em;
  color: #666;
  line-height: 1.6;
}

.about-text {
  flex: 1;
}

.about-text h2 {
  color: #003d73;
  margin-bottom: 1rem;
}

/*增 About 區塊橫列排版 */
.about-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: #f0f6ff;
}

.about-row {
  display: flex;
  width: 100%;
  flex-direction: row;
  gap: 2rem;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 1em;
  margin-bottom: 1em;

}
.about-item {
  flex: 1;
  min-width: 280px;
}
.about-item.first {
  flex: 3;
}

.about-item.second {
  flex: 2;
}
.about-item p {
  font-size: 1.2em;
}
.about-item h2 {
  color: #003d73;
  margin-top: 0rem;
}

.about-item img {
  width: 350px;
  height: 350px;
  object-fit: cover;       /* 保持比例填滿容器 */
  border-radius: 16px;     /* 可選，讓圖片也有圓角 */
  margin: auto;
  display: block;           /* 圖片靠中對齊 */
}


/* 響應式調整 */


@media (max-width: 768px) {

  /* timeline 區塊 */

 .timeline-left,
  .timeline-right {
    left: 0 !important;
    width: 100%;
    text-align: left;
    padding-left: 40px;
    margin-bottom: 40px;
  }

  .timeline-left::after,
  .timeline-right::after {
    left: 6px;
    right: auto;
  }

  .about-timeline::before {
    left:18px;
    transform: none;
  }
  .about-row {
    flex-direction: column-reverse !important;
  }

