/* 聯絡我們 */

.main-article-card {
  display: block;
}
/* 橫向圖片 - 公司環境展示 */

.guide {
  padding: 2rem;
  background-color: #f0f6ff;
  text-align: center;
}

.guide-container {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  max-width: 100%;
  margin: 0 auto; /* 讓容器水平置中 */
  padding: 0;
  justify-content: start; /* 讓圖片在容器中置中排列 */
}

.guide-container img {
  height: 400px;
  width: auto;
  border-radius: 10px;
  border: 1px solid #ccddee;
  object-fit: contain;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  transition: transform 0.3s ease;
  margin: 0; /* 確保沒多餘margin */
  flex-shrink: 0; /* 讓每張圖不會被壓縮 */
}

.guide-container img:hover {
  transform: scale(1.03);
}

/* 地圖左文字右 */
.map{
  witdh: 100%;
}
.contact-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  flex-wrap: nowrap;
  overflow-x: auto;
  padding: 2rem;
  margin: 0 auto;
}

.map-container {
  display: flex;
  flex: 1;
  justify-content: flex-end;
}

.map-responsive {
  width: 60%;
  min-width: 300px;
  max-width: 600px;
  height: 400px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}

.map-responsive iframe {
  width: 100%;
  height: 100%;
  border: 0;
  position: absolute;
  top: 0;
  left: 0;
}

.map-text {
  display: flex;
  flex: 1;
  gap: 2em;
}

.map-text img {
  max-width: 200px;
  height: auto;
}

.map-text h2 {
  color: #003d73;
  margin-bottom: 1rem;
  font-size: 1.8rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
}

.map-text p {
  margin-bottom: 0.5rem;
  font-size: 1.05rem;
  color: #333;
  line-height: 1.8; /* 建議值：1.5~1.8 */
}

@media (max-width: 1200px) {

  /* Guide 區塊 */

  .guide-container {
    flex-direction: column;
    align-items: center;
  }
  .guide-container img {
    height: auto;
    width: 80%;
  }

 /* Map 區塊 */

  .contact-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .about-container .maps img {
    margin-bottom: 1rem;
  }
  .map {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1.5rem;
  }
  .map-text {
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
  }
  .map-image {
    width: 80vw;
    max-width: 300px;
    height: auto;
    margin-bottom: 1rem;
  }
  .map-image img {
    width: 100%;
    height: auto;
    border-radius: 16px;
    object-fit: cover;
  }
  .map-text {
    width: 100%;
  }

